body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
}

header {
    background: #1f2937;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.project {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/*
a {
    
    text-decoration: none;
}



a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: 500;
}



a:hover {
    color: #0b5ed7;
    text-decoration: underline;
}

a:visited {
    color: #1a73e8;
}

a:focus {
    outline: none;
    color: #0b5ed7;  */

/* --- FORZAR ESTILO DE ENLACES --- */
a, a:visited, a:hover, a:active, a:focus {
    color: #1a73e8 !important;
    text-decoration: none !important;
    
}


